/*
  PATH      /src/services/{{serviceDirectoryName}}/{{serviceFileName}}
*/

module.exports = {
  name: '{{serviceName}}',
  actions: {
    // add custom actions here
  },
  methods: {
    // add custom methods here
  }
}